<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="@{/app.css}"/>

    <title>India</title>
</head>
<body>
<header>
    <div class="container">
        <h1><a href="/">Countries of the World</a></h1>
    </div>
</header>
<div class="container">
    <div class="country-details">
        <h2 th:text="${country.name}">Country</h2>
        <div class="meta">
            <div class="stat">
                <h4>Population</h4>
                <span th:text="${country.population}">No Data</span>
            </div>
            <div class="stat">
                <h4>Capital</h4>
                <span th:text="${country.capCity}">NoData</span>
            </div>
            <div class="stat">
                <h4>Official Languages</h4>
                <ul th:each="lenguage : ${country.languages}">
                    <li th:text="${lenguage}">No Data</li>
                </ul>
            </div>
        </div>
        <div class="flag">
            <img th:src="@{'/flags/'+ ${country.name}+'.png'}" alt="Flag"/>
        </div>
    </div>
</div>
</body>
</html>